version: '3'

services:
  redis-stack:
    image: redis/redis-stack:latest
    container_name: redis-stack
    ports:
      - '6379:6379'  # Redis port
      - '8001:8001'  # RedisInsight UI port
    volumes:
      - redis-data:/data

volumes:
  redis-data:
